/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li,
ol li {
    text-decoration: none;
    list-style: none;
}

ul a,
ol a {
    text-decoration: none;
    color: black;
}

/* Navbar */
.headline-container nav {
    background-color: rgba(255, 255, 255, 1);
}


/* Headline */
.headline-container {
    height: 95vh;
    background-color: rgb(255, 255, 255, 1);
    background-image: url(./assets/Header-llustration-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65rem;
    background-attachment: fixed;
}

.headline-title p {
    color: rgba(54, 179, 126, 1);
    font-weight: 800;
    font-style: normal;
}

.headline-title h1 {
    color: rgba(23, 43, 77, 1);
    font-weight: 800;
    font-style: normal;
}

.headline-text {
    color: rgba(23, 43, 77, 1);
    font-style: normal;
    font-weight: 400;
    line-height: 1.55em;
}

.social-icons {
    background-color: rgba(255, 255, 255, 0);
}

/* Projects section */
.projects__title {
    color: rgba(23, 43, 77, 1);
    font-weight: 700;
    font-style: normal;
}

.card-title {
    color: rgba(23, 43, 77, 1);
    font-style: normal;
    font-weight: 600;
}

/* About me section */
.about {
    height: max-content;
}

.about__headline-container {
    background-color: rgb(255, 255, 255, 1);
    background-image: url(./assets/about_bkg_desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-attachment: fixed;
}

.about__title {
    color: rgba(23, 43, 77, 1);
    font-style: normal;
    font-weight: 700;
}

.about__headline {
    color: rgba(66, 82, 110, 1);
    font-style: normal;
    font-weight: 400;
}

/* Contact section */
.contact {
    height: 100vh;
    background-image: url(./assets/contact_bkg_3_desktop_grouped.png);
    background-repeat: no-repeat;
    background-size: 109vw;
    background-position: bottom 60px left -105px;
    background-attachment: scroll;
}

.contact__text {
    color: rgba(23, 43, 77, 1);
    font-style: normal;
    font-weight: 700;
}

.contact__form input {
    color: rgba(107, 119, 140, 1);
    font-style: italic;
    font-weight: 400;
}